@font-face {
    font-family: 'Microsoft Sans Serif';
    src: url('./../fonts/');
    src: url('./../fonts/?#iefix') format('embedded-opentype'),
        url('./../fonts/MicrosoftSansSerif.woff2') format('woff2'),
        url('./../fonts/MicrosoftSansSerif.woff') format('woff'),
        url('./../fonts/MicrosoftSansSerif.svg#MicrosoftSansSerif') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

